# **LIMPIEZA DE DATASETS Y OBTENCIÃ“N DE DATASET PROCESADO**

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
earthquakes=pd.read_csv(r"C:\Users\isabe\Documents\Thebridge\Machine learning datasets\earthquakeraw.csv")

In [3]:
earthquakes

,id,year,locationName,latitude,longitude,eqMagnitude,damageAmountOrder,eqMagUnk,publish,country,regionCode,intensity,deathsAmountOrder,tsunamiEventId,deathsAmountOrderTotal,eqDepth,deaths,housesDestroyedAmountOrder,eqMagMs,deathsTotal,damageAmountOrderTotal,housesDestroyedAmountOrderTotal,month,day,volcanoEventId,eqMagMl,housesDamagedAmountOrder,injuries,injuriesAmountOrder,injuriesTotal,injuriesAmountOrderTotal,hour,housesDamagedAmountOrderTotal,minute,eqMagMw,housesDestroyed,housesDamaged,housesDestroyedTotal,housesDamagedTotal,area,second,eqMagMfa,damageMillionsDollars,missing,missingAmountOrder,missingTotal,missingAmountOrderTotal,damageMillionsDollarsTotal,eqMagMb
0,1,-2150,"JORDAN: BAB-A-DARAA,AL-KARAK",31.100,35.500,7.3,3.0,7.3,True,JORDAN,140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,-2000,SYRIA: UGARIT,35.683,35.800,NaN,NaN,NaN,True,SYRIA,140,10.0,3.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,-2000,TURKMENISTAN: W,38.000,58.200,7.1,1.0,NaN,True,TURKMENISTAN,40,10.0,1.0,NaN,1.0,18.0,1.0,1.0,7.1,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8,-1566,ISRAEL: ARIHA (JERICHO),31.500,35.300,NaN,3.0,NaN,True,ISRAEL,140,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11,-1450,ITALY: LACUS CIMINI,35.500,25.500,NaN,NaN,NaN,True,ITALY,130,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6600,10923,2025,RUSSIA: KAMCHATKA PENINSULA,52.512,160.324,8.8,NaN,NaN,True,RUSSIA,50,8.0,NaN,6044.0,1.0,35.0,NaN,NaN,8.0,1.0,2.0,NaN,7.0,29.0,NaN,NaN,NaN,NaN,NaN,13.0,1.0,23.0,NaN,24.0,8.8,NaN,NaN,NaN,NaN,NaN,52.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0
6601,10924,2025,TURKEY: BALIKESIR,39.312,28.069,6.1,2.0,NaN,True,TURKEY,140,NaN,1.0,NaN,1.0,10.0,1.0,1.0,NaN,1.0,2.0,1.0,8.0,10.0,NaN,NaN,NaN,29.0,1.0,29.0,1.0,16.0,NaN,53.0,6.1,NaN,NaN,NaN,NaN,NaN,47.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6602,10925,2025,EL SALVADOR-GUATEMALA,14.055,-89.883,5.7,3.0,NaN,True,GUATEMALA,100,NaN,1.0,NaN,1.0,10.0,1.0,NaN,NaN,1.0,3.0,NaN,7.0,29.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,21.0,4.0,25.0,5.7,NaN,1200.0,NaN,1200.0,NaN,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6603,10926,2025,INDONESIA: SULAWESI: POSO,-1.282,120.727,5.8,2.0,NaN,True,INDONESIA,170,NaN,1.0,6046.0,1.0,8.0,1.0,1.0,NaN,1.0,2.0,1.0,8.0,16.0,NaN,NaN,1.0,41.0,1.0,41.0,1.0,22.0,1.0,38.0,5.8,12.0,33.0,12.0,33.0,NaN,52.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6604,10927,2025,CHILE: DRAKE PASSAGE,-60.186,-61.821,7.5,NaN,NaN,True,ANTARCTICA,20,NaN,NaN,6047.0,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,8.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,16.0,7.5,NaN,NaN,NaN,NaN,NaN,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
tsunamis=pd.read_csv(r"C:\Users\isabe\Documents\Thebridge\Machine learning datasets\tsunamiraw.csv")

In [5]:
tsunamis

,id,year,eventValidity,causeCode,earthquakeEventId,numDeposits,country,locationName,regionCode,latitude,longitude,numRunups,tsIntensity,deathsAmountOrder,damageAmountOrder,deathsAmountOrderTotal,damageAmountOrderTotal,publish,oceanicTsunami,volcanoEventId,maxWaterHeight,eqMagnitude,month,housesDestroyedAmountOrder,deathsTotal,housesDestroyedAmountOrderTotal,day,tsMtIi,deaths,eqDepth,housesDamagedAmountOrder,housesDamagedAmountOrderTotal,housesDestroyed,housesDestroyedTotal,hour,minute,area,injuries,injuriesAmountOrder,injuriesTotal,injuriesAmountOrderTotal,housesDamaged,housesDamagedTotal,second,missingTotal,missingAmountOrderTotal,damageMillionsDollarsTotal,tsMtAbe,damageMillionsDollars,warningStatusId,missing,missingAmountOrder
0,1,-2000,1,1.0,2.0,0,SYRIA,SYRIAN COASTS,50.0,35.683,35.800,1,6.0,3.0,4.0,3.0,4.0,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,-1610,4,6.0,5877.0,28,GREECE,THERA ISLAND (SANTORINI),50.0,36.400,25.400,2,6.0,3.0,3.0,3.0,3.0,True,True,1351.0,90.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,-1365,1,2.0,9712.0,0,SYRIA,SYRIAN COASTS,50.0,35.683,35.800,1,6.0,NaN,2.0,NaN,3.0,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,-1300,2,0.0,NaN,0,TURKEY,"IONIAN COASTS, TROAD",50.0,39.960,26.240,0,5.0,NaN,NaN,NaN,NaN,True,True,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6,-760,2,0.0,NaN,0,ISRAEL,ISRAEL AND LEBANON COASTS,50.0,NaN,NaN,0,3.0,NaN,NaN,NaN,NaN,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2984,6043,2006,-1,1.0,10922.0,0,BRAZIL,ARQUIPELAGO SAO PEDRO E SAO PAULO,71.0,1.175,-28.065,0,NaN,NaN,NaN,NaN,1.0,True,True,NaN,NaN,6.0,6.0,NaN,NaN,NaN,5.0,NaN,NaN,10.0,NaN,NaN,NaN,NaN,6.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985,6044,2025,4,1.0,10923.0,0,RUSSIA,"KAMCHATKA PENINSULA, RUSSIA",86.0,52.512,160.324,332,NaN,1.0,2.0,1.0,2.0,True,True,NaN,19.00,8.8,7.0,NaN,1.0,NaN,29.0,NaN,1.0,35.0,NaN,NaN,NaN,NaN,23.0,24.0,NaN,13.0,1.0,13.0,1.0,NaN,NaN,52.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2986,6045,2025,4,8.0,NaN,0,USA,"TRACY ARM, AK",87.0,57.840,-133.060,3,NaN,NaN,1.0,NaN,1.0,True,True,NaN,30.00,NaN,8.0,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,26.0,AK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987,6046,2025,3,1.0,10926.0,0,INDONESIA,SULAWESI,83.0,-1.282,120.727,1,NaN,NaN,NaN,1.0,2.0,True,True,NaN,0.02,5.8,8.0,NaN,1.0,1.0,16.0,NaN,NaN,8.0,NaN,1.0,NaN,12.0,22.0,38.0,NaN,NaN,NaN,41.0,1.0,NaN,33.0,52.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2988,6047,2025,4,1.0,10927.0,0,ANTARCTICA,DRAKE PASSAGE,71.0,-60.186,-61.821,2,NaN,NaN,NaN,NaN,NaN,True,True,NaN,0.13,7.5,8.0,NaN,NaN,NaN,22.0,NaN,NaN,10.0,NaN,NaN,NaN,NaN,2.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN

## 1.- LIMPIEZA INICIAL

Como tenemos unos datasets con muchÃ­simos registros, voy a eliminar las filas en las que faltan la latitud y la longitud en ambos datasets.

- En el dataset de terremotos, pasamos de 6605 filas a 6544.

AdemÃ¡s, en el dataset de tsunamis, eliminarÃ© las filas en las que no aparece el id del terremoto, ya que no se puede relacionar dichas filas con las correspondientes al dataset de terremotos.

- En el dataset de tsunamis pasamos de 2989 filas a 2020 filas.

Para futuras predicciones, tendrÃ­amos que realizar los siguientes pasos con los nuevos datasets para utilizarlos en el modelo de predicciÃ³n final.

In [6]:
earthquakes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6605 entries, 0 to 6604
Data columns (total 49 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   id                               6605 non-null   int64
 1   year                             6605 non-null   int64
 2   locationName                     6605 non-null   object
 3   latitude                         6544 non-null   float64
 4   longitude                        6544 non-null   float64
 5   eqMagnitude                      4808 non-null   float64
 6   damageAmountOrder                4824 non-null   float64
 7   eqMagUnk                         822 non-null    float64
 8   publish                          6605 non-null   bool
 9   country                          6605 non-null   object
 10  regionCode                       6605 non-null   int64
 11  intensity                        3333 non-null   float64
 12  deathsAmountOrder                2746 non-null   float64
 13  tsunamiEventId                   2076 non-null   float64
 14  deathsAmountOrderTotal           2512 non-null   float64
 15  eqDepth                          3566 non-null   float64
 16  deaths                           2240 non-null   float64
 17  housesDestroyedAmountOrder       1986 non-null   float64
 18  eqMagMs                          3078 non-null   float64
 19  deathsTotal                      2102 non-null   float64
 20  damageAmountOrderTotal           4029 non-null   float64
 21  housesDestroyedAmountOrderTotal  2071 non-null   float64
 22  month                            6193 non-null   float64
 23  day                              6036 non-null   float64
 24  volcanoEventId                   80 non-null     float64
 25  eqMagMl                          216 non-null    float64
 26  housesDamagedAmountOrder         1185 non-null   float64
 27  injuries                         1446 non-null   float64
 28  injuriesAmountOrder              1692 non-null   float64
 29  injuriesTotal                    1472 non-null   float64
 30  injuriesAmountOrderTotal         1723 non-null   float64
 31  hour                             4494 non-null   float64
 32  housesDamagedAmountOrderTotal    1092 non-null   float64
 33  minute                           4281 non-null   float64
 34  eqMagMw                          1836 non-null   float64
 35  housesDestroyed                  921 non-null    float64
 36  housesDamaged                    609 non-null    float64
 37  housesDestroyedTotal             955 non-null    float64
 38  housesDamagedTotal               557 non-null    float64
 39  area                             332 non-null    object
 40  second                           3828 non-null   float64
 41  eqMagMfa                         14 non-null     float64
 42  damageMillionsDollars            631 non-null    float64
 43  missing                          24 non-null     float64
 44  missingAmountOrder               26 non-null     float64
 45  missingTotal                     27 non-null     float64
 46  missingAmountOrderTotal          32 non-null     float64
 47  damageMillionsDollarsTotal       620 non-null    float64
 48  eqMagMb                          1879 non-null   float64
dtypes: bool(1), float64(42), int64(3), object(3)
memory usage: 2.4+ MB

In [7]:
earthquakes.isnull().sum()

id                                    0
year                                  0
locationName                          0
latitude                             61
longitude                            61
eqMagnitude                        1797
damageAmountOrder                  1781
eqMagUnk                           5783
publish                               0
country                               0
regionCode                            0
intensity                          3272
deathsAmountOrder                  3859
tsunamiEventId                     4529
deathsAmountOrderTotal             4093
eqDepth                            3039
deaths                             4365
housesDestroyedAmountOrder         4619
eqMagMs                            3527
deathsTotal                        4503
damageAmountOrderTotal             2576
housesDestroyedAmountOrderTotal    4534
month                               412
day                                 569
volcanoEventId                     6525
eqMagMl                            6389
housesDamagedAmountOrder           5420
injuries                           5159
injuriesAmountOrder                4913
injuriesTotal                      5133
injuriesAmountOrderTotal           4882
hour                               2111
housesDamagedAmountOrderTotal      5513
minute                             2324
eqMagMw                            4769
housesDestroyed                    5684
housesDamaged                      5996
housesDestroyedTotal               5650
housesDamagedTotal                 6048
area                               6273
second                             2777
eqMagMfa                           6591
damageMillionsDollars              5974
missing                            6581
missingAmountOrder                 6579
missingTotal                       6578
missingAmountOrderTotal            6573
damageMillionsDollarsTotal         5985
eqMagMb                            4726
dtype: int64

In [8]:
earthquakes = earthquakes.dropna(subset=["latitude", "longitude"]).reset_index(drop=True)

In [9]:
earthquakes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6544 entries, 0 to 6543
Data columns (total 49 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   id                               6544 non-null   int64
 1   year                             6544 non-null   int64
 2   locationName                     6544 non-null   object
 3   latitude                         6544 non-null   float64
 4   longitude                        6544 non-null   float64
 5   eqMagnitude                      4806 non-null   float64
 6   damageAmountOrder                4800 non-null   float64
 7   eqMagUnk                         822 non-null    float64
 8   publish                          6544 non-null   bool
 9   country                          6544 non-null   object
 10  regionCode                       6544 non-null   int64
 11  intensity                        3321 non-null   float64
 12  deathsAmountOrder                2738 non-null   float64
 13  tsunamiEventId                   2037 non-null   float64
 14  deathsAmountOrderTotal           2502 non-null   float64
 15  eqDepth                          3565 non-null   float64
 16  deaths                           2236 non-null   float64
 17  housesDestroyedAmountOrder       1973 non-null   float64
 18  eqMagMs                          3077 non-null   float64
 19  deathsTotal                      2097 non-null   float64
 20  damageAmountOrderTotal           4005 non-null   float64
 21  housesDestroyedAmountOrderTotal  2059 non-null   float64
 22  month                            6144 non-null   float64
 23  day                              5996 non-null   float64
 24  volcanoEventId                   79 non-null     float64
 25  eqMagMl                          216 non-null    float64
 26  housesDamagedAmountOrder         1180 non-null   float64
 27  injuries                         1446 non-null   float64
 28  injuriesAmountOrder              1692 non-null   float64
 29  injuriesTotal                    1472 non-null   float64
 30  injuriesAmountOrderTotal         1723 non-null   float64
 31  hour                             4486 non-null   float64
 32  housesDamagedAmountOrderTotal    1087 non-null   float64
 33  minute                           4273 non-null   float64
 34  eqMagMw                          1836 non-null   float64
 35  housesDestroyed                  918 non-null    float64
 36  housesDamaged                    607 non-null    float64
 37  housesDestroyedTotal             952 non-null    float64
 38  housesDamagedTotal               557 non-null    float64
 39  area                             325 non-null    object
 40  second                           3827 non-null   float64
 41  eqMagMfa                         14 non-null     float64
 42  damageMillionsDollars            631 non-null    float64
 43  missing                          24 non-null     float64
 44  missingAmountOrder               26 non-null     float64
 45  missingTotal                     27 non-null     float64
 46  missingAmountOrderTotal          32 non-null     float64
 47  damageMillionsDollarsTotal       620 non-null    float64
 48  eqMagMb                          1878 non-null   float64
dtypes: bool(1), float64(42), int64(3), object(3)
memory usage: 2.4+ MB

In [10]:
tsunamis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2989 entries, 0 to 2988
Data columns (total 52 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   id                               2989 non-null   int64
 1   year                             2989 non-null   int64
 2   eventValidity                    2989 non-null   int64
 3   causeCode                        2986 non-null   float64
 4   earthquakeEventId                2076 non-null   float64
 5   numDeposits                      2989 non-null   int64
 6   country                          2988 non-null   object
 7   locationName                     2987 non-null   object
 8   regionCode                       2988 non-null   float64
 9   latitude                         2599 non-null   float64
 10  longitude                        2598 non-null   float64
 11  numRunups                        2989 non-null   int64
 12  tsIntensity                      1250 non-null   float64
 13  deathsAmountOrder                389 non-null    float64
 14  damageAmountOrder                702 non-null    float64
 15  deathsAmountOrderTotal           859 non-null    float64
 16  damageAmountOrderTotal           1383 non-null   float64
 17  publish                          2989 non-null   bool
 18  oceanicTsunami                   2989 non-null   bool
 19  volcanoEventId                   184 non-null    float64
 20  maxWaterHeight                   1371 non-null   float64
 21  eqMagnitude                      1698 non-null   float64
 22  month                            2838 non-null   float64
 23  housesDestroyedAmountOrder       295 non-null    float64
 24  deathsTotal                      697 non-null    float64
 25  housesDestroyedAmountOrderTotal  740 non-null    float64
 26  day                              2721 non-null   float64
 27  tsMtIi                           751 non-null    float64
 28  deaths                           287 non-null    float64
 29  eqDepth                          1079 non-null   float64
 30  housesDamagedAmountOrder         70 non-null     float64
 31  housesDamagedAmountOrderTotal    298 non-null    float64
 32  housesDestroyed                  106 non-null    float64
 33  housesDestroyedTotal             275 non-null    float64
 34  hour                             1594 non-null   float64
 35  minute                           1504 non-null   float64
 36  area                             331 non-null    object
 37  injuries                         83 non-null     float64
 38  injuriesAmountOrder              96 non-null     float64
 39  injuriesTotal                    335 non-null    float64
 40  injuriesAmountOrderTotal         393 non-null    float64
 41  housesDamaged                    18 non-null     float64
 42  housesDamagedTotal               109 non-null    float64
 43  second                           1053 non-null   float64
 44  missingTotal                     16 non-null     float64
 45  missingAmountOrderTotal          20 non-null     float64
 46  damageMillionsDollarsTotal       177 non-null    float64
 47  tsMtAbe                          2 non-null      float64
 48  damageMillionsDollars            51 non-null     float64
 49  warningStatusId                  91 non-null     float64
 50  missing                          6 non-null      float64
 51  missingAmountOrder               7 non-null      float64
dtypes: bool(2), float64(42), int64(5), object(3)
memory usage: 1.1+ MB

In [11]:
tsunamis = tsunamis.dropna(subset=["latitude", "longitude"]).reset_index(drop=True)

In [12]:
tsunamis = tsunamis.dropna(subset=["earthquakeEventId"]).reset_index(drop=True)

In [13]:
tsunamis.isnull().sum()

id                                    0
year                                  0
eventValidity                         0
causeCode                             1
earthquakeEventId                     0
numDeposits                           0
country                               0
locationName                          1
regionCode                            1
latitude                              0
longitude                             0
numRunups                             0
tsIntensity                        1068
deathsAmountOrder                  1742
damageAmountOrder                  1532
deathsAmountOrderTotal             1301
damageAmountOrderTotal              881
publish                               0
oceanicTsunami                        0
volcanoEventId                     1963
maxWaterHeight                      971
eqMagnitude                         381
month                                64
housesDestroyedAmountOrder         1788
deathsTotal                        1443
housesDestroyedAmountOrderTotal    1360
day                                 107
tsMtIi                             1373
deaths                             1820
eqDepth                             958
housesDamagedAmountOrder           1978
housesDamagedAmountOrderTotal      1752
housesDestroyed                    1941
housesDestroyedTotal               1773
hour                                638
minute                              694
area                               1870
injuries                           1966
injuriesAmountOrder                1958
injuriesTotal                      1717
injuriesAmountOrderTotal           1668
housesDamaged                      2006
housesDamagedTotal                 1915
second                             1000
missingTotal                       2010
missingAmountOrderTotal            2007
damageMillionsDollarsTotal         1860
tsMtAbe                            2018
damageMillionsDollars              1984
warningStatusId                    1933
missing                            2017
missingAmountOrder                 2016
dtype: int64

## 2.- SOLUCIÃ“N A LOS DIFERENTES TIPOS DE ESCALAS DE MAGNITUD EN EL DATASET DE TERREMOTOS.

En el dataset de terremotos, existe un problema con las escalas de las magnitudes.

Para todas las escalas, la magnitud es un valor adimensional, pero no es intercambiable entre dichas escalas.

&nbsp;

Las escalas presentes en el dataset son:

* Mw (Moment Magnitude): estÃ¡ndar actual, mÃ¡s consistente para eventos grandes.

* Ms (Surface wave magnitude): basada en ondas superficiales.

* Mb (Body wave magnitude): ondas de cuerpo, Ãºtil para distancias largas.

* ML (Local magnitude o Richter original): ondas locales.  

&nbsp;

Algunas de las ecuaciones empÃ­ricas de conversiÃ³n son:

| De â†’ A       | FÃ³rmula aproximada                      | Referencia       |
| ------------ | --------------------------------------- | ---------------- |
| **Ms â†’ Mw**  | Mw â‰ˆ 0.67 Ã— Ms + 2.07                   | Hanks & Kanamori |
| **Mb â†’ Mw**  | Mw â‰ˆ 0.85 Ã— Mb + 1.03                   | Scordilis, 2006  |
| **Ml â†’ Mw**  | Mw â‰ˆ 0.85 Ã— Ml + 1.03                   | EstimaciÃ³n comÃºn |
| **Mfa â†’ Mw** | Aproximar igual que Ms (si no hay otra) |                  |


**Nota:** Estas relaciones son **aproximaciones empÃ­ricas**, las conversiones pueden no ser precisas.

In [14]:
# Vamos a crear una nueva columna que se llama magnitude_Mw aplicando las fÃ³rmulas anteriores a nuestro dataset de terremotos.
# En la nueva columna obtenida, eliminamos las filas en las que el dato falte.

def to_mw(row):
    if not pd.isna(row["eqMagMw"]):
        return row["eqMagMw"]
    elif not pd.isna(row["eqMagMs"]):
        return 0.67 * row["eqMagMs"] + 2.07
    elif not pd.isna(row["eqMagMb"]):
        return 0.85 * row["eqMagMb"] + 1.03
    elif not pd.isna(row["eqMagMl"]):
        return 0.85 * row["eqMagMl"] + 1.03
    elif not pd.isna(row["eqMagMfa"]):
        return 0.67 * row["eqMagMfa"] + 2.07
    elif not pd.isna(row["eqMagnitude"]):
        return row["eqMagnitude"]  # Si no hay otra, usar la general
    else:
        return np.nan

earthquakes["magnitude_Mw"] = earthquakes.apply(to_mw, axis=1)

earthquakes= earthquakes.dropna(subset=["magnitude_Mw"])

# Creamos tambiÃ©n una columna donde nos indique la escala de magnitud de donde partÃ­amos, si hay algÃºn dato nulo, elimino esa fila.
def get_mag_source(row):
    if pd.notnull(row["eqMagMw"]): return "Mw"
    elif pd.notnull(row["eqMagMs"]): return "Msâ†’Mw"
    elif pd.notnull(row["eqMagMb"]): return "Mbâ†’Mw"
    elif pd.notnull(row["eqMagMl"]): return "ML"
    return "None"

earthquakes["MagnitudeSource"] = earthquakes.apply(get_mag_source, axis=1)
earthquakes= earthquakes.dropna(subset=["MagnitudeSource"])

# Elimino las columnas iniciales de magnitudes, ya que con las dos columnas nuevas tenemos los datos que necesitamos.

mag_columns = [col for col in earthquakes.columns if col.startswith("eqMag") or col == "eqMagnitude"]

earthquakes = earthquakes.drop(columns=mag_columns)

In [15]:
earthquakes.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4806 entries, 0 to 6543
Data columns (total 44 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   id                               4806 non-null   int64
 1   year                             4806 non-null   int64
 2   locationName                     4806 non-null   object
 3   latitude                         4806 non-null   float64
 4   longitude                        4806 non-null   float64
 5   damageAmountOrder                3670 non-null   float64
 6   publish                          4806 non-null   bool
 7   country                          4806 non-null   object
 8   regionCode                       4806 non-null   int64
 9   intensity                        2436 non-null   float64
 10  deathsAmountOrder                2194 non-null   float64
 11  tsunamiEventId                   1582 non-null   float64
 12  deathsAmountOrderTotal           2165 non-null   float64
 13  eqDepth                          3491 non-null   float64
 14  deaths                           1895 non-null   float64
 15  housesDestroyedAmountOrder       1712 non-null   float64
 16  deathsTotal                      1884 non-null   float64
 17  damageAmountOrderTotal           3393 non-null   float64
 18  housesDestroyedAmountOrderTotal  1783 non-null   float64
 19  month                            4710 non-null   float64
 20  day                              4656 non-null   float64
 21  volcanoEventId                   48 non-null     float64
 22  housesDamagedAmountOrder         1084 non-null   float64
 23  injuries                         1435 non-null   float64
 24  injuriesAmountOrder              1661 non-null   float64
 25  injuriesTotal                    1460 non-null   float64
 26  injuriesAmountOrderTotal         1689 non-null   float64
 27  hour                             4007 non-null   float64
 28  housesDamagedAmountOrderTotal    1019 non-null   float64
 29  minute                           3915 non-null   float64
 30  housesDestroyed                  876 non-null    float64
 31  housesDamaged                    593 non-null    float64
 32  housesDestroyedTotal             909 non-null    float64
 33  housesDamagedTotal               552 non-null    float64
 34  area                             267 non-null    object
 35  second                           3582 non-null   float64
 36  damageMillionsDollars            616 non-null    float64
 37  missing                          24 non-null     float64
 38  missingAmountOrder               26 non-null     float64
 39  missingTotal                     27 non-null     float64
 40  missingAmountOrderTotal          32 non-null     float64
 41  damageMillionsDollarsTotal       616 non-null    float64
 42  magnitude_Mw                     4806 non-null   float64
 43  MagnitudeSource                  4806 non-null   object
dtypes: bool(1), float64(36), int64(3), object(4)
memory usage: 1.6+ MB

*Hemos pasado de un dataset con 6544 registros a uno con 4806*

## 3.- FUSIÃ“N DE LOS DOS DATASETS

Antes de seguir con el tratamiento de datos faltantes, unimos los dos datasets.

Nos quedamos con las siguientes colunmas del dataset de tsunamis (para rellenar huecos en los datos de los terremotos y con interÃ©s informativo aunque podrÃ­a ser interesante para futuros estudios de protecciÃ³n frente a tsunamis):
* 'earthquakeEventId'   
* 'oceanicTsunami'  
* 'maxWaterHeight'  
* 'eqDepth',
* 'deathsAmountOrderTotal',
* 'housesDestroyedTotal',
* 'damageMillionsDollarsTotal'
* 'regionCode'
* 'latitude'
* 'longitude'


Unimos los dos datasets mediante el id de los terremotos.

Queremos estudiar si a partir de un terremoto, tuvo ocurrencia un tsunami, asÃ­ que los datos faltantes en oceanicTsunami, los imputamos como 0 (no tsunamis) y convertimos esta columna en binaria (serÃ¡ nuestro target)

In [16]:
tsunamis.columns

Index(['id', 'year', 'eventValidity', 'causeCode', 'earthquakeEventId',
       'numDeposits', 'country', 'locationName', 'regionCode', 'latitude',
       'longitude', 'numRunups', 'tsIntensity', 'deathsAmountOrder',
       'damageAmountOrder', 'deathsAmountOrderTotal', 'damageAmountOrderTotal',
       'publish', 'oceanicTsunami', 'volcanoEventId', 'maxWaterHeight',
       'eqMagnitude', 'month', 'housesDestroyedAmountOrder', 'deathsTotal',
       'housesDestroyedAmountOrderTotal', 'day', 'tsMtIi', 'deaths', 'eqDepth',
       'housesDamagedAmountOrder', 'housesDamagedAmountOrderTotal',
       'housesDestroyed', 'housesDestroyedTotal', 'hour', 'minute', 'area',
       'injuries', 'injuriesAmountOrder', 'injuriesTotal',
       'injuriesAmountOrderTotal', 'housesDamaged', 'housesDamagedTotal',
       'second', 'missingTotal', 'missingAmountOrderTotal',
       'damageMillionsDollarsTotal', 'tsMtAbe', 'damageMillionsDollars',
       'warningStatusId', 'missing', 'missingAmountOrder'],
      dtype='object')

In [17]:
colum_ts = [
    'earthquakeEventId', 
    'oceanicTsunami', 
    'maxWaterHeight', 
    'eqDepth',
    'deathsAmountOrderTotal',
    'housesDestroyedTotal',
    'damageMillionsDollarsTotal',
    'regionCode', 
    'latitude',
    'longitude'
]

dfmerge = pd.merge(earthquakes,tsunamis[colum_ts],left_on='id',right_on='earthquakeEventId',how='left')

# NaN en oceanicTsunami â†’ 0 (no tsunami)
dfmerge['oceanicTsunami'] = dfmerge['oceanicTsunami'].fillna(0).astype(int)

In [18]:
dfmerge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4806 entries, 0 to 4805
Data columns (total 54 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   id                               4806 non-null   int64
 1   year                             4806 non-null   int64
 2   locationName                     4806 non-null   object
 3   latitude_x                       4806 non-null   float64
 4   longitude_x                      4806 non-null   float64
 5   damageAmountOrder                3670 non-null   float64
 6   publish                          4806 non-null   bool
 7   country                          4806 non-null   object
 8   regionCode_x                     4806 non-null   int64
 9   intensity                        2436 non-null   float64
 10  deathsAmountOrder                2194 non-null   float64
 11  tsunamiEventId                   1582 non-null   float64
 12  deathsAmountOrderTotal_x         2165 non-null   float64
 13  eqDepth_x                        3491 non-null   float64
 14  deaths                           1895 non-null   float64
 15  housesDestroyedAmountOrder       1712 non-null   float64
 16  deathsTotal                      1884 non-null   float64
 17  damageAmountOrderTotal           3393 non-null   float64
 18  housesDestroyedAmountOrderTotal  1783 non-null   float64
 19  month                            4710 non-null   float64
 20  day                              4656 non-null   float64
 21  volcanoEventId                   48 non-null     float64
 22  housesDamagedAmountOrder         1084 non-null   float64
 23  injuries                         1435 non-null   float64
 24  injuriesAmountOrder              1661 non-null   float64
 25  injuriesTotal                    1460 non-null   float64
 26  injuriesAmountOrderTotal         1689 non-null   float64
 27  hour                             4007 non-null   float64
 28  housesDamagedAmountOrderTotal    1019 non-null   float64
 29  minute                           3915 non-null   float64
 30  housesDestroyed                  876 non-null    float64
 31  housesDamaged                    593 non-null    float64
 32  housesDestroyedTotal_x           909 non-null    float64
 33  housesDamagedTotal               552 non-null    float64
 34  area                             267 non-null    object
 35  second                           3582 non-null   float64
 36  damageMillionsDollars            616 non-null    float64
 37  missing                          24 non-null     float64
 38  missingAmountOrder               26 non-null     float64
 39  missingTotal                     27 non-null     float64
 40  missingAmountOrderTotal          32 non-null     float64
 41  damageMillionsDollarsTotal_x     616 non-null    float64
 42  magnitude_Mw                     4806 non-null   float64
 43  MagnitudeSource                  4806 non-null   object
 44  earthquakeEventId                1575 non-null   float64
 45  oceanicTsunami                   4806 non-null   int64
 46  maxWaterHeight                   951 non-null    float64
 47  eqDepth_y                        1015 non-null   float64
 48  deathsAmountOrderTotal_y         637 non-null    float64
 49  housesDestroyedTotal_y           233 non-null    float64
 50  damageMillionsDollarsTotal_y     160 non-null    float64
 51  regionCode_y                     1574 non-null   float64
 52  latitude_y                       1575 non-null   float64
 53  longitude_y                      1575 non-null   float64
dtypes: bool(1), float64(45), int64(4), object(4)
memory usage: 1.9+ MB

In [19]:
#Voy a rellenar los datos faltantes del dataset de terremotos con las columnas repetidas seleccionadas en el dataset de tsunamis.
#EliminarÃ© las filas del dataset resultante en las que eqDepth siga sin tener dato.

cols_repetidas = [
    'eqDepth',
    'deathsAmountOrderTotal',
    'housesDestroyedTotal',
    'damageMillionsDollarsTotal'
]

for col in cols_repetidas:
    col_x = f"{col}_x"
    col_y = f"{col}_y"
    
    if col_x in dfmerge.columns and col_y in dfmerge.columns:
        dfmerge[col_x] = dfmerge[col_x].fillna(dfmerge[col_y])
        dfmerge = dfmerge.rename(columns={col_x: col})
        dfmerge = dfmerge.drop(columns=[col_y])

dfmerge = dfmerge.dropna(subset=['eqDepth']).reset_index(drop=True)

dfmerge[cols_repetidas].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3515 entries, 0 to 3514
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   eqDepth                     3515 non-null   float64
 1   deathsAmountOrderTotal      1508 non-null   float64
 2   housesDestroyedTotal        703 non-null    float64
 3   damageMillionsDollarsTotal  609 non-null    float64
dtypes: float64(4)
memory usage: 110.0 KB

In [20]:
dfmerge

,id,year,locationName,latitude_x,longitude_x,damageAmountOrder,publish,country,regionCode_x,intensity,deathsAmountOrder,tsunamiEventId,deathsAmountOrderTotal,eqDepth,deaths,housesDestroyedAmountOrder,deathsTotal,damageAmountOrderTotal,housesDestroyedAmountOrderTotal,month,day,volcanoEventId,housesDamagedAmountOrder,injuries,injuriesAmountOrder,injuriesTotal,injuriesAmountOrderTotal,hour,housesDamagedAmountOrderTotal,minute,housesDestroyed,housesDamaged,housesDestroyedTotal,housesDamagedTotal,area,second,damageMillionsDollars,missing,missingAmountOrder,missingTotal,missingAmountOrderTotal,damageMillionsDollarsTotal,magnitude_Mw,MagnitudeSource,earthquakeEventId,oceanicTsunami,maxWaterHeight,regionCode_y,latitude_y,longitude_y
0,3,-2000,TURKMENISTAN: W,38.000,58.200,1.0,True,TURKMENISTAN,40,10.0,1.0,NaN,1.0,18.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.827,Msâ†’Mw,NaN,0,NaN,NaN,NaN,NaN
1,25,-250,KYRGYZSTAN: CHIGUCHIN,42.700,77.500,3.0,True,KYRGYZSTAN,40,9.0,NaN,NaN,NaN,20.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.559,Msâ†’Mw,NaN,0,NaN,NaN,NaN,NaN
2,28,-227,GREECE: DODECANESE ISLANDS,36.300,28.300,1.0,True,GREECE,130,10.0,1.0,3092.0,1.0,100.0,NaN,1.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.894,Msâ†’Mw,28.0,1,NaN,50.0,36.300,28.300
3,38,10,TURKMENISTAN: NISA,38.000,58.300,3.0,True,TURKMENISTAN,40,10.0,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.100,None,NaN,0,NaN,NaN,NaN,NaN
4,55,-63,RUSSIA: PANTIKAPEY,45.200,36.600,3.0,True,RUSSIA,40,8.0,NaN,NaN,NaN,20.0,NaN,NaN,NaN,3.0,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.358,Msâ†’Mw,NaN,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3510,10923,2025,RUSSIA: KAMCHATKA PENINSULA,52.512,160.324,NaN,True,RUSSIA,50,8.0,NaN,6044.0,1.0,35.0,NaN,NaN,1.0,2.0,NaN,7.0,29.0,NaN,NaN,NaN,NaN,13.0,1.0,23.0,NaN,24.0,NaN,NaN,NaN,NaN,NaN,52.0,NaN,NaN,NaN,NaN,NaN,NaN,8.800,Mw,10923.0,1,19.00,86.0,52.512,160.324
3511,10924,2025,TURKEY: BALIKESIR,39.312,28.069,2.0,True,TURKEY,140,NaN,1.0,NaN,1.0,10.0,1.0,1.0,1.0,2.0,1.0,8.0,10.0,NaN,NaN,29.0,1.0,29.0,1.0,16.0,NaN,53.0,NaN,NaN,NaN,NaN,NaN,47.0,NaN,NaN,NaN,NaN,NaN,NaN,6.100,Mw,NaN,0,NaN,NaN,NaN,NaN
3512,10925,2025,EL SALVADOR-GUATEMALA,14.055,-89.883,3.0,True,GUATEMALA,100,NaN,1.0,NaN,1.0,10.0,1.0,NaN,1.0,3.0,NaN,7.0,29.0,NaN,4.0,NaN,NaN,NaN,NaN,21.0,4.0,25.0,NaN,1200.0,NaN,1200.0,NaN,23.0,NaN,NaN,NaN,NaN,NaN,NaN,5.700,Mw,NaN,0,NaN,NaN,NaN,NaN
3513,10926,2025,INDONESIA: SULAWESI: POSO,-1.282,120.727,2.0,True,INDONESIA,170,NaN,1.0,6046.0,1.0,8.0,1.0,1.0,1.0,2.0,1.0,8.0,16.0,NaN,1.0,41.0,1.0,41.0,1.0,22.0,1.0,38.0,12.0,33.0,12.0,33.0,NaN,52.0,NaN,NaN,NaN,NaN,NaN,NaN,5.800,Mw,10926.0,1,0.02,83.0,-1.282,120.727
3514,10927,2025,CHILE: DRAKE PASSAGE,-60.186,-61.821,NaN,True,ANTARCTICA,20,NaN,NaN,6047.0,NaN,10.0,NaN,NaN,NaN,NaN,NaN,8.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,16.0,NaN,NaN,NaN,NaN,NaN,19.0,NaN,NaN,NaN,NaN,NaN,NaN,7.500,Mw,10927.0,1,0.13,71.0,-60.186,-61.821

In [21]:
dfregion=dfmerge

In [22]:
dfregion['same_region'] = dfregion['regionCode_x'] == dfregion['regionCode_y']

print(dfregion['same_region'].value_counts())

same_region
False    3431
True       84
Name: count, dtype: int64

In [23]:
dfmerge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3515 entries, 0 to 3514
Data columns (total 51 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   id                               3515 non-null   int64
 1   year                             3515 non-null   int64
 2   locationName                     3515 non-null   object
 3   latitude_x                       3515 non-null   float64
 4   longitude_x                      3515 non-null   float64
 5   damageAmountOrder                2672 non-null   float64
 6   publish                          3515 non-null   bool
 7   country                          3515 non-null   object
 8   regionCode_x                     3515 non-null   int64
 9   intensity                        1626 non-null   float64
 10  deathsAmountOrder                1524 non-null   float64
 11  tsunamiEventId                   1070 non-null   float64
 12  deathsAmountOrderTotal           1508 non-null   float64
 13  eqDepth                          3515 non-null   float64
 14  deaths                           1442 non-null   float64
 15  housesDestroyedAmountOrder       1118 non-null   float64
 16  deathsTotal                      1447 non-null   float64
 17  damageAmountOrderTotal           2476 non-null   float64
 18  housesDestroyedAmountOrderTotal  1150 non-null   float64
 19  month                            3487 non-null   float64
 20  day                              3479 non-null   float64
 21  volcanoEventId                   31 non-null     float64
 22  housesDamagedAmountOrder         958 non-null    float64
 23  injuries                         1319 non-null   float64
 24  injuriesAmountOrder              1488 non-null   float64
 25  injuriesTotal                    1335 non-null   float64
 26  injuriesAmountOrderTotal         1507 non-null   float64
 27  hour                             3413 non-null   float64
 28  housesDamagedAmountOrderTotal    911 non-null    float64
 29  minute                           3377 non-null   float64
 30  housesDestroyed                  686 non-null    float64
 31  housesDamaged                    564 non-null    float64
 32  housesDestroyedTotal             703 non-null    float64
 33  housesDamagedTotal               529 non-null    float64
 34  area                             198 non-null    object
 35  second                           3242 non-null   float64
 36  damageMillionsDollars            602 non-null    float64
 37  missing                          23 non-null     float64
 38  missingAmountOrder               24 non-null     float64
 39  missingTotal                     26 non-null     float64
 40  missingAmountOrderTotal          30 non-null     float64
 41  damageMillionsDollarsTotal       609 non-null    float64
 42  magnitude_Mw                     3515 non-null   float64
 43  MagnitudeSource                  3515 non-null   object
 44  earthquakeEventId                1069 non-null   float64
 45  oceanicTsunami                   3515 non-null   int64
 46  maxWaterHeight                   787 non-null    float64
 47  regionCode_y                     1069 non-null   float64
 48  latitude_y                       1069 non-null   float64
 49  longitude_y                      1069 non-null   float64
 50  same_region                      3515 non-null   bool
dtypes: bool(2), float64(41), int64(4), object(4)
memory usage: 1.3+ MB

In [24]:
dfmerge.isnull().sum()

id                                    0
year                                  0
locationName                          0
latitude_x                            0
longitude_x                           0
damageAmountOrder                   843
publish                               0
country                               0
regionCode_x                          0
intensity                          1889
deathsAmountOrder                  1991
tsunamiEventId                     2445
deathsAmountOrderTotal             2007
eqDepth                               0
deaths                             2073
housesDestroyedAmountOrder         2397
deathsTotal                        2068
damageAmountOrderTotal             1039
housesDestroyedAmountOrderTotal    2365
month                                28
day                                  36
volcanoEventId                     3484
housesDamagedAmountOrder           2557
injuries                           2196
injuriesAmountOrder                2027
injuriesTotal                      2180
injuriesAmountOrderTotal           2008
hour                                102
housesDamagedAmountOrderTotal      2604
minute                              138
housesDestroyed                    2829
housesDamaged                      2951
housesDestroyedTotal               2812
housesDamagedTotal                 2986
area                               3317
second                              273
damageMillionsDollars              2913
missing                            3492
missingAmountOrder                 3491
missingTotal                       3489
missingAmountOrderTotal            3485
damageMillionsDollarsTotal         2906
magnitude_Mw                          0
MagnitudeSource                       0
earthquakeEventId                  2446
oceanicTsunami                        0
maxWaterHeight                     2728
regionCode_y                       2446
latitude_y                         2446
longitude_y                        2446
same_region                           0
dtype: int64

In [25]:
dfmerge['oceanicTsunami'].value_counts()

#coinciden los nulos de las longitudes y las latitudes de los tsunamis con que realmente ocurrieran dichos tsunamis

oceanicTsunami
0    2466
1    1049
Name: count, dtype: int64

In [26]:
dfmerge.rename(columns=lambda x: x.replace('_x', '_eq').replace('_y', '_ts'), inplace=True)

In [27]:
dfmerge.columns

Index(['id', 'year', 'locationName', 'latitude_eq', 'longitude_eq',
       'damageAmountOrder', 'publish', 'country', 'regionCode_eq', 'intensity',
       'deathsAmountOrder', 'tsunamiEventId', 'deathsAmountOrderTotal',
       'eqDepth', 'deaths', 'housesDestroyedAmountOrder', 'deathsTotal',
       'damageAmountOrderTotal', 'housesDestroyedAmountOrderTotal', 'month',
       'day', 'volcanoEventId', 'housesDamagedAmountOrder', 'injuries',
       'injuriesAmountOrder', 'injuriesTotal', 'injuriesAmountOrderTotal',
       'hour', 'housesDamagedAmountOrderTotal', 'minute', 'housesDestroyed',
       'housesDamaged', 'housesDestroyedTotal', 'housesDamagedTotal', 'area',
       'second', 'damageMillionsDollars', 'missing', 'missingAmountOrder',
       'missingTotal', 'missingAmountOrderTotal', 'damageMillionsDollarsTotal',
       'magnitude_Mw', 'MagnitudeSource', 'earthquakeEventId',
       'oceanicTsunami', 'maxWaterHeight', 'regionCode_ts', 'latitude_ts',
       'longitude_ts', 'same_region'],
      dtype='object')

## 4.- DATASET PROCESADO

Guardamos el dataset procesado. En el siguiente notebook empezaremos con el EDA y  terminaremos de procesar los datos nulos. Al finalizar, dividiremos entre train y test.

Nuestro dataset procesado tiene 3515 registros y 47 columnas.

In [28]:
dfmerge.to_csv("processed.csv", index=False, encoding="utf-8")